*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section.header{
    width: 100%;
    height: auto;
    position: fixed;
    border-bottom: 1px solid rgb(238, 237, 237);
   background-color: white;
   z-index: 10;
}
div.top-header{
    width: 100%;
    height: auto;
}
div.top-header>a>figure>img{
    width: 100%;
    height: auto;
}
div.min-header{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: relative;
}
div.logo{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 90px;
}

div.search{
    width: 70%;
    height: 50px;
    position: absolute;
    top: 2px;
    right: 15%;
}
div.search-box{
    width: 70%;
    height: 35px;
    background-color: rgb(238, 237, 237);
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}
div.search-icon{
    float: right;
    margin: 10px 15px;
    color: gray;
}

div.search-input>form>input{
    width: 90%;
    height: 35px;
    background: rgb(238, 237, 237);
    border: none;
}
div.search-input>form>input:checked{
    border: none;
    background: rgb(238, 237, 237);
}
div.icon{
    float: left;
    margin: 15px;
}
div.icon>div>span.sabad{
    margin-left: 5px;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid grey;
}
div.menu{
    width: 100%;
    height: 50px;
}
nav.menu{
    width: 70%;
    height: 50px;
    background-color: brown;
}
div.menu>div{
    float: right;
    margin-top: 15px;
}
.he{
    background-color: aqua;
}
/* start slider */

  div.slider{
    width: 100%;
    height: 600px;
    padding-top: 60px;
    /* top: 160px; */
    /* display: block; */
}
div.swiper {
     width: 100%;
     height: 100%;
 }
    
div.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
div.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 600; */
    /* object-fit: cover; */
}
  
/* end slider */
/* start icon */
div.send{
    width: 1300px;
    height: 75px;
    margin: 20px auto;    
}
div.icon{
    width: auto;
    height: 100%;
    display: inline-block;
    margin: 0 48px;
}
div.icon>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
div.icon>a>img{
    width: 52px;
    height: 52px;
    
}
div.icon>a>p{
    margin: 0;
    text-align: center;
    
}
div.more{
    width: 52px;
    height: 52px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
}
span.more{
    
    font-size: 40px;
    margin-right: 9px;
    line-height: 30px;
    color: gray;
}
/* end icon */

/* start shegeft */
/* div.shegeft{
    width: 1300px;
    height: 300px;
    background-color: rgb(255, 0, 76);
    border-radius: 15px;
    margin: 20px auto;
    font-size: 150px;
    color: whitesmoke;
    text-align: center;
    line-height: 300px;

} */
/* end shegeft */

/* start supermarket */
div.supermarket{
    width: 1300px;
    height: 110px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    margin: 20px auto;
}
div.supermarket1{
    width: 45%;
    height: inherit;
    float: right; 
    position: relative;
    
}
div.supermarket2{
    width: 55%;
    height: inherit;
    float: right;
    position: relative;
}
div.sabad{
   position: absolute;
   top: 25px;
   right: 15px;
}
div.fresh{
    position: absolute;
    top: 40px;
    right: 100px;
}
div.takhfif{
    width: 100px;
    height: 26px;
    background-color: rgb(0, 180, 0);
    border-radius: 15px;
    color: whitesmoke;
    position: absolute;
    top: 40px;
    right: 400px;
    
  
}
div.takhfif>p{
    margin: 0;
    text-align: center;
    line-height: 26px;
    
}
div.m{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 20px 5px;
    overflow: hidden;
    display: inline-block;
    
}
div.m>img{
    width: 60px;
    height: 60px;
    margin: 5px;
    
}
div.t{
    width: 35px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    color: whitesmoke;
    position: absolute;
    top: 70px;
    text-align: center;
    line-height: 25px;
}
div.t2{
    width: 35px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    color: whitesmoke;
    position: absolute;
    top: 70px;
    right: 80px;
    text-align: center;
    line-height: 25px;
}
div.t3{
    width: 35px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    color: whitesmoke;
    position: absolute;
    top: 70px;
    right: 170px;
    text-align: center;
    line-height: 25px;
}div.t4{
    width: 35px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    color: whitesmoke;
    position: absolute;
    top: 70px;
    right: 250px;
    text-align: center;
    line-height: 25px;
}
div.t5{
    width: 35px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    color: whitesmoke;
    position: absolute;
    top: 70px;
    right: 330px;
    text-align: center;
    line-height: 25px;
}
div.t6{
    width: 35px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    color: whitesmoke;
    position: absolute;
    top: 70px;
    right: 415px;
    text-align: center;
    line-height: 25px;
}
div.mo{
    width: 140px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    color: rgb(0, 180, 0);
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 30px;
    left: 40px;
    
}
div.mo>p{
    margin: 0
    
}
/* end supermarket */
/* start abzar */
div.bazar{
    width: 1300px;
    height: 240px;
    margin: 30px auto;
    position: relative;
}
div.bazar>div>img{
    width: 310px;
    height: inherit;
    border-radius: 10px;
}
div.bazar1{
    
    position: absolute;

}
div.bazar2{
    position: absolute;
    right: 328px;
}
div.bazar3{
    position: absolute;
    right: 655px;
}
div.bazar4{
    position: absolute;
left: 0;
}
/* end abzar */
/* start kharid */
div.kharid{
    width: 1300px;
    height: 380px;
    margin: 20px auto;
    
}
div.kharid1{
    width: 1300px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
}
div.kharid2{
    width: 1250px;
    height: 125px;
    position: relative;
    top: 60px;
    right: 40px;
}
div.kharid2>div>img{
    width: 95px;
    height: 95px;
}
div.kharid2>div>p{
    margin: 0;
    text-align: center;
}
div.kh1{
    position: absolute;
}
div.kh2{
    position: absolute;
    right: 180px;
}
div.kh3{
    position: absolute;
    right: 350px;
}
div.kh4{
    position: absolute;
    right: 550px;
}
div.kh5{
    position: absolute;
    right: 750px;
}
div.kh6{
    position: absolute;
    right: 920px;
}
div.kh7{
    position: absolute;
    left: 0px;
}
div.kharid3{
    width: 1100px;
    height: 125px;
    position: relative;
    margin: 70px auto;
    position: relative;

}
div.kharid3>div>img{
    width: 95px;
    height: 95px;
    display: inline;
}
div.kharid3>div>p{
    margin: 0;
    text-align: center;
}
div.kh11{
    position: absolute;
    right: 20px;
}
div.kh12{
    position: absolute;
    right: 195px;
}
div.kh13{
    position: absolute;
    right: 385px;
}
div.kh14{
    position: absolute;
    right: 585px;
}
div.kh15{
    position: absolute;
    right: 780px;
}
div.kh16{
    position: absolute;
    left: 20px;
}
/* end kharid */
/* start card1 */
div.card1{
    width: 1300px;
    height: 320px;
    margin: 20px auto;
    position: relative;
}
div.c1{
    width: 640px;
    height: 320px;
    margin-left: 20px;
    position: absolute;
}
div.c1>a>img{
    width: 640px;
    height: 320px;
    border-radius: 10px;
}


div.c2{
    width: 640px;
    height: 320px;
    position: absolute;
    left: 0;
}
div.c2>a>img{
    width: 640px;
    height: 320px;
    border-radius: 10px;
}
/* end card1 */
/* start pishnahad */
div.pishnahad{
    width: 1300px;
    height: 385px;
    margin: 20px auto;
}
div.pish1{
    width: 1300px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}
div.pish2{
    width: 1300px;
    height: 346px;
    border-radius: 10px;
    border: 1px solid rgb(203, 202, 202);
}
div.pish11{
    width: 1300px;
    height: 173px;
    position: relative;
}
div.pish11>div>a>img{
    width: 90px;
    height: 90px;
    margin: 20px auto;
    
}
div.pi1{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
}
div.pi2{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 185px;
    text-align: center;
}
div.pi3{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 370px;
    text-align: center;
}
div.pi4{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 555px;
    text-align: center;
}
div.pi5{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 740px;
    text-align: center;
}
div.pi6{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 925px;
    text-align: center;
}
div.pi7{
    width: 185px;
    height: 173px;
    
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
div.pish12{
    width: 1300px;
    height: 173px;
    position: relative;
}
div.pish12>div>a>img{
    width: 90px;
    height: 90px;
    margin: 20px auto;
    
}
div.pis1{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    border-top: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
}
div.pis2{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    border-top: 1px solid rgb(203, 202, 202) ;

    position: absolute;
    top: 0px;
    right: 185px;
    text-align: center;
}
div.pis3{
    width: 185px;
    height: 173px;
    border-top: 1px solid rgb(203, 202, 202) ;

    border-left: 1px solid rgb(203, 202, 202) ;
    position: absolute;
    top: 0px;
    right: 370px;
    text-align: center;
}
div.pis4{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    border-top: 1px solid rgb(203, 202, 202) ;

    position: absolute;
    top: 0px;
    right: 555px;
    text-align: center;
}
div.pis5{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    border-top: 1px solid rgb(203, 202, 202) ;

    position: absolute;
    top: 0px;
    right: 740px;
    text-align: center;
}
div.pis6{
    width: 185px;
    height: 173px;
    border-left: 1px solid rgb(203, 202, 202) ;
    border-top: 1px solid rgb(203, 202, 202) ;

    position: absolute;
    top: 0px;
    right: 925px;
    text-align: center;
}
div.pis7{
    width: 185px;
    height: 173px;
    border-top: 1px solid rgb(203, 202, 202) ;
    
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
    /* end pishnahad */
    /* start digiplus */
div.digiplus{
    width: 1300px;
    height: 390px;
    background-color: #941b80;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
div.plus1{
    width: 420px;
    height: 370px;
    position: relative;
    padding: 10px;
    display: inline-block;
    position: absolute;
}
div.plus1>:nth-last-of-type(2){
    position: absolute;
    top: 25px;
    right: 25px;
}
div.plus1>p{
    position: absolute;
    top: 65px;
    right: 25px;
    color: whitesmoke;
    font-size: 16px;
}
div.plus1>button{
    color: whitesmoke;
    background-color: #941b80;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 95px;
    right: 25px;
}
div.plus1>img.imag{
    position: absolute;
    top: 95px;
    right: 25px;
}
div.plus2{
    width: 420px;
    height: 360px;
    background-color: white;
    display: inline-block;
    margin: 5px;
    border-top-right-radius: 10PX;
    border-bottom-right-radius: 10PX;
    padding: 20PX;
    position: relative;
    position: absolute;
    right: 33%;
}
div.plus2>P{
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 60px;
}
div.plus2>a{
    position: absolute;
    left: 20px;
}
div.pl1{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 20%;
}
div.pl1>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.pl1>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.pl2{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 20%;
    right: 35%;
}
div.pl2>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.pl2>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.pl3{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 20%;
    right: 70%;
}
div.pl3>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.pl3>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.pl4{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 60%;
    
}
div.pl4>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.pl4>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.pl5{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 60%;
    right: 35%;
}
div.pl5>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.pl5>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.pl6{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 60%;
    right: 70%;
}
div.pl6>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.pl6>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.plus3{
    width: 420px;
    height: 360px;
    background-color: white;
    display: inline-block;
    margin: 5px;
    border-top-left-radius: 10PX;
    border-bottom-left-radius: 10PX;
    padding: 20PX;
    position: relative;
    position: absolute;
    right: 66%;
}
div.plus3>P{
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 60px;
}
div.plus3>a{
    position: absolute;
    left: 20px;
}
div.plu1{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 20%;
}
div.plu1>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.plu1>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.plu2{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 20%;
    right: 35%;
}
div.plu2>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.plu2>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.plu3{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 20%;
    right: 70%;
}
div.plu3>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.plu3>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.plu4{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 60%;
    
}
div.plu4>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.plu4>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.plu5{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 60%;
    right: 35%;
}
div.plu5>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.plu5>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
div.plu6{
    width: 125px;
    height: 125px;
    position: relative;
    position: absolute;
    top: 60%;
    right: 70%;
}
div.plu6>img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
}
div.plu6>p{
    color: #941b80;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    z-index: 1;
}
    /* end digiplus */
    /* start digiclub */
div.digiclub{
    width: 1300px;
    height: 90px;
    background-color: #1889ac;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}   
div.digiclub>img{
    position: absolute;
    top: 30%;
    right: 50px;
}
div.dgclub{
    width:760px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 7px;
}
div.club1{
    width: 250px;
    height: 60px;
    background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
 
}
img.club1i{
    position: absolute;
    top: 17px;
}
div.club1>p{
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
}
img.club1p{
    width: 160px;
    height: 56px;
    position: absolute;
    top: 3px;
    right: 88px;
}
div.club2{
    width: 250px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 255px;
    
}
img.club2i{
    position: absolute;
    top: 17px;
}
div.club2>p{
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
}
img.club2p{
    width: 160px;
    height: 56px;
    position: absolute;
    top: 2px;
    left: 2px;
}
div.club3{
    width: 250px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 67%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
img.club3i{
    position: absolute;
    top: 17px;
}
div.club3>p{
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
}
img.club3p{
    width: 160px;
    height: 56px;
    position: absolute;
    top: 2px;
    left: 2px;
}
/* end digiclub */
/* start khandaniha */
div.khandaniha{
    width: 1300px;
    height: 360px;
    margin: 50px auto;
}
div.khandani1{
    width: 1300px;
    height: 45px;
    
}
div.khandani1>p{
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}
div.khandani1>a{
    float: left;
    margin-left: 20px;
    color: #19bfd3;
}
div.khandani2{
    width: 1300px;
    height: 280px;
}
div.khan1{
    width: 310px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
}
div.khan1>img{
    width: 310px;
    height: 205px;
}
div.khan1>p{
    color: grey;
    text-align: center;
    margin-top: 10px;
}
div.khan2{
    width: 310px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
}
div.khan2>img{
    width: 310px;
    height: 205px;
}
div.khan2>p{
    color: grey;
    text-align: center;
    margin-top: 10px;
}
div.khan3{
    width: 310px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
}
div.khan3>img{
    width: 310px;
    height: 205px;
}
div.khan3>p{
    color: grey;
    text-align: center;
    margin-top: 10px;
}
div.khan4{
    width: 310px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden;
    display: inline-block;
}
div.khan4>img{
    width: 310px;
    height: 205px;
}
div.khan4>p{
    color: grey;
    text-align: center;
    margin-top: 10px;
}
/* end khandaniha */